body{
    background-image: url("bc.jpg") ;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
table{
    min-width: 600px;
    width: 50%;
    min-height: 400px;
    height: 50vh;
    position: relative;
    left: 23vw;
    top: 20vh;

    text-align: center;
    background-color: #aa1ad6;
    color:#fff;
    border-radius: 10px;
    padding: 2px;
}
input{
    border: 1px solid blue;

}
.btn{
    position: relative;
    
    
}